body {
    margin: 30px 30px;
    background-color: rgb(236, 231, 231);
  }
  
  .App {
      margin: 10%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
      font-family: "Nunito", sans-serif;
      font-weight: bold;
  }