.true {    
    background-color: white;
}

.false {
    background-color: red;
}

#empty {
    background-color: lightgrey;
}

#not-empty {
    background-color: black;
}

/* .yes {
    background-color: #fb7b54;
}

.no {
    background-color: white;
}  */